h1 {
  text-align:center;
}

p {
  text-align:center;
}

.tennis_banner {
  text-algin:center;
  background-color:#d0d5d6;
}

button {
  diplay:block;
}



header a{
  display:flex;
  justify-content:flex-end;
  margin-right:20px;
  
}

.novak_banner, .us_open {
  background-color:#d9cb86;
  display:flex;
}

.novak_banner {
  margin-bottom:50px;
}
.novak_banner p {
  align-self:center;
  margin-right: 30px;
  margin-left:30px;
}

.us_open p{
  align-self:center;
  margin-right:30px;
  margin-left:30px;
}

.us_open {
  margin-left: 30px;
}
